tantivy.iml
.cargo
proptest-regressions
*.swp
target
target/debug
.vscode
target/release
benchmark
.DS_Store
*.bk
.idea
trace.dat
cargo-timing*
control
variable

# for `sample record -p`
profile.json
profile.json.gz
