language: rust
rust:
  # - stable
  # - beta
  - nightly
# matrix:
#   allow_failures:
#     - rust: nightly
git:
    submodules: false
# Use sed to replace the SSH URL with the public URL, then initialize submodules
before_install:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    - git submodule update --init --recursive
env:
  global:
    - CC=gcc-4.8
    - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
