[package]
name = "tantivy-columnar"
version = "0.0.0"
edition = "2021"
license = "MIT"
homepage = "https://github.com/quickwit-oss/tantivy"
repository = "https://github.com/quickwit-oss/tantivy"
desciption = "column oriented storage for tantivy"
categories = ["database-implementations", "data-structures", "compression"]

[dependencies]
itertools = "0.10.5"
fnv = "1.0.7"
fastdivide = "0.4.0"

stacker = { version= "0.0", path = "../stacker", package="tantivy-stacker"}
sstable = { version= "0.0", path = "../sstable", package = "tantivy-sstable" }
common = { version= "0.4", path = "../common", package = "tantivy-common" }
tantivy-bitpacker = { version= "0.3", path = "../bitpacker/" }
serde = "1.0.152"

[dev-dependencies]
proptest = "1"
more-asserts = "0.3.1"
rand = "0.8"

[features]
unstable = []
