name: Unit tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose --workspace
    - name: Install latest nightly to test also against unstable feature flag
      uses: actions-rs/toolchain@v1
      with:
            toolchain: nightly
            override: true
            components: rustfmt

    - name: Install latest nightly to test also against unstable feature flag
      uses: actions-rs/toolchain@v1
      with:
            toolchain: stable
            override: true
            components: rustfmt, clippy

    - name: Run tests
      run: cargo +stable test --features mmap,brotli-compression,lz4-compression,snappy-compression,failpoints --verbose --workspace

    - name: Run tests quickwit feature
      run: cargo +stable test --features mmap,quickwit,failpoints --verbose --workspace

    - name: Check Formatting
      run: cargo +nightly fmt --all -- --check

    - uses: actions-rs/clippy-check@v1
      with:
        toolchain: stable
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --tests

